.singleAlbum {
  position: relative;
  color: transparent;
}

.singleAlbum:hover {
  color: #55ba55;
}

.albumLink {
  font-weight: 500;
}

.albumLink:hover {
  color: inherit;
}

.playButton {
  position: absolute;
  z-index: 1;
  bottom: 45px;
  right: 16px;
  color: inherit;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.playButton:hover {
  color: #00ff00;
}

.albumImg {
  width: 100% !important;
  height: 100% !important;
  box-shadow: 5px 5px 50px 10px rgba(0, 0, 0, 0.4);
}

.albumText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
